<template>
  <div class="v-container">
    <h2 class="text-center">Essa é a agenda</h2>

    <div>
      <input v-model="search" type="text" class="bg-grey-lighten-4" />
    </div>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">Nome</th>
          <th class="text-left">Telefone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="contact in filteredContacts" :key="contact.id">
          <td :class="{ favorito: contact.favorito }">{{ contact.nome }}</td>
          <td>{{ contact.telefone }}</td>
          <td>
            <button @click="toggleFavorite(contact.id)">
              {{ contact.favorito == true ? "Desfavoritar" : "Favoritar" }}
            </button>
          </td>
        </tr>
      </tbody>
    </v-table>
    <p v-if="filteredContacts.length === 0">Nenhum contato encontrado.</p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      contacts: [],
      search: "",
    };
  },

  computed: {
    filteredContacts() {
      if (this.search === "") {
        return this.contacts;
      } else {
        return this.contacts.filter((contact) => {
          return contact.nome.toLowerCase().includes(this.search.toLowerCase());
        });
      }
    },
  },

  methods: {
    getAll() {
      axios
        .get("https://agenda-api.onrender.com/agenda")
        .then((response) => {
          this.contacts = response.data.filter(
            (contato) => contato.favorito == true
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleFavorite(id) {
      const contact = this.contacts.find((c) => c.id === id);
      contact.favorito = !contact.favorito;
      axios
        .put(`http://localhost:3000/agenda/${id}`, contact)
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.getAll();
  },
};
</script>