<template>
  <div class="v-container">
    <h2 class="text-center">Essa é a agenda</h2>

    <div>
      <input v-model="search" type="text" class="bg-grey-lighten-4" />
    </div>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">Nome</th>
          <th class="text-left">Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="contact in filteredContacts" :key="contact.id">
          <td>{{ contact.nome }}</td>
          <td>{{ contact.telefone }}</td>
        </tr>
      </tbody>
    </v-table>
     <p v-if="filteredContacts.length === 0">Nenhum contato encontrado.</p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      contacts: [],
      search: "",
    };
  },

  computed: {
    filteredContacts() {
      if (this.search === "") {
        return this.contacts;
      } else {
        return this.contacts.filter((contact) => {
          return contact.nome.toLowerCase().includes(this.search.toLowerCase());
        });
      }
    },
  },

  methods: {
    getAll() {
      axios
        .get("http://localhost:3000/agenda")
        .then((response) => {
          this.contacts = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.getAll();
  },
};
</script>